In [1]:
import numpy as np
import pandas as pd

In [3]:
import scipy.stats as stats

In [4]:
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier

from sklearn.preprocessing import FunctionTransformer
from sklearn.compose import ColumnTransformer

In [15]:
import warnings
warnings.filterwarnings('ignore', category=FutureWarning, module='seaborn')

In [16]:
sns.set_palette("Spectral")

# Set a base style
sns.set_style("whitegrid")

# Customize specific style parameters
custom_params = {
    "axes.spines.right": False,
    "axes.spines.top": False,
    "axes.grid": True,
    "grid.linestyle": "--",
    "grid.color": "#cccccc",
    "axes.facecolor": "#f0f0f0",
    "axes.labelsize": 14,
    "axes.titlesize": 16,
    "xtick.labelsize": 12,
    "ytick.labelsize": 12
}
sns.set_context("notebook", rc=custom_params)

In [7]:
df = pd.read_csv('Datasets/Titanic-Dataset.csv', usecols=['Age', 'Fare', 'Survived'])

In [8]:
df.head()

   Survived   Age     Fare
0         0  22.0   7.2500
1         1  38.0  71.2833
2         1  26.0   7.9250
3         1  35.0  53.1000
4         0  35.0   8.0500

In [9]:
df.isnull().sum()

Survived      0
Age         177
Fare          0
dtype: int64

In [12]:
df.fillna({'Age':'mean'}, inplace=True)

In [13]:
df.isnull().sum()

Survived    0
Age         0
Fare        0
dtype: int64

In [14]:
X_train, X_test, y_train, y_test = train_test_split(df.drop('Survived', axis=1),
                                                   df['Survived'],
                                                   test_size=0.2,
                                                   random_state=42)

In [ ]:
fig, axes = plt.subplots(2, 2, figsize=(12, 10))